
@{
    ViewData["Title"] = "Contactus";
}

<h1>Contactus</h1>

<nav class="navbar bg-light">
    <div class="container">
        <div class="text-bg-warning p-3">FK</div>

        <a class="navbar-brand">Flipkart</a>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <nav class="navbar navbar-dark bg-primary">
            <!-- Navbar content -->
        </nav>
    </div>s
</nav>

